section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__bg-icon(src="images/reasons-section-bg-icon.png" loading="lazy" width="1626" height="1204" alt="icon")
      h2.reasons-section__title.font-s-50.text-up
        span.font-w-bold.color-blue Почему 
        br.no-br
        span.font-w-regular «ПРИНТЕРОК»
      .reasons-section__sub-title.font-s-22 4 причины открыть бизнес по нашей франшизе
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .font-w-semi-bold.font-s-30.color-blue Готовая концепция
            .font-s-20-finances
              | Вы будете предлагать уже продуманный 
              br.no-br
              | перечень услуг и позиционировать себя на 
              br.no-br
              | рынке, используя готовые маркетинговые 
              br.no-br
              | инструменты
          .reasons-section__card.swiper-slide
            .font-w-semi-bold.font-s-30.color-blue Бизнес-модель
            .font-s-20-finances
              | Вы получите проверенную бизнес-модель, 
              br.no-br
              | которая уже доказала свою эффективность 
              br.no-br
              | и легко начнете зарабатывать сразу после 
              br.no-br
              | открытия
          .reasons-section__card.swiper-slide
            .font-w-semi-bold.font-s-30.color-blue Сильный маркетинг
            .font-s-20-finances
              | Вы получите все необходимые данные для 
              br.no-br
              | эффективного маркетинга: от поиска самой 
              br.no-br
              | удачной локации до инструкций по работе 
              br.no-br
              | с клиентами
          .reasons-section__card.swiper-slide
            .font-w-semi-bold.font-s-30.color-blue Быстрый старт
            .font-s-20-finances
              | Мы передадим вам все необходимые данные 
              br.no-br
              | для успешного старта, благодаря которым вы 
              br.no-br
              | запустите работу магазина всего за 49 дней
        .bullet-pagination.bullet-pagination--secondary
      .reasons-section__bottom
        .font-s-32
          span.font-w-bold Узнайте больше 
          br.no-br
          span.font-w-regular о работе с нами
        .font-w-regular.font-s-18
          | Скачайте договор, в котором описаны наши 
          br.no-br
          | обязанности и все условия сотрудничества
        button.btn.reasons-section__btn(data-remodal-target="modal-form-agreement") Скачать
      img.reasons-section__img(src="images/reasons-section-img.png" loading="lazy" width="1564" height="1042" alt="image")
