section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-s-50.text-up
        span.font-w-bold.color-blue Как мы поможем 
        br
        span.font-w-regular вам на старте?
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Проведем для вас
              br
              | очное обучение
              br
              | в одном из офисов
              br
              | Головной компании
          .start-section__card.start-section__card--blue.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Разработаем для вас
              br
              | индивидуальные
              br
              | маркетинговые
              br
              | материалы
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Поможем вам
              br
              | собрать сильную
              br
              | команду
              br
              | профессионалов
          .start-section__card.start-section__card--black.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Передадим
              br
              | фирменные
              br
              | рекламные
              br
              | материалы сети
          .start-section__card.start-section__card--violet.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Подготовим вашу
              br
              | команду
              br
              | к работе в очном
              br
              | формате
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Предоставим
              br
              | готовый перечень
              br
              | ассортимента услуг
              br
              | и товаров
          .start-section__card.start-section__card--violet.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Передадим
              br
              | подробную
              br
              | Базу знаний
              br
              | франшизы
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Организуем поставки
              br
              | расходников
              br
              | для ремонта из
              br
              | Головной компании
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Дадим
              br
              | подробные
              br
              | рекомендации
              br
              | по ценообразованию
          .start-section__card.start-section__card--black.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Дадим рекомендации
              br
              | по выбору
              br
              | локации
              br
              | и помещения
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Предоставим
              br
              | инструкции
              br
              | по увеличению
              br
              | среднего чека
          .start-section__card.start-section__card--blue.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Поможем правильно
              br
              | оборудовать
              br
              | и оформить
              br
              | помещение
          .start-section__card.start-section__card--blue.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Поможем
              br
              | с решением
              br
              | юридических
              br
              | вопросов
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Организуем
              br
              | бухгалтерскую
              br
              | поддержку вашего
              br
              | филиала
          .start-section__card.start-section__card--violet.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Подключим
              br
              | к общему
              br
              | программному
              br
              | обеспечению
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="34" height="34" alt="icon")
            .font-s-18-m
              | Добавим в закрытое
              br
              | сообщество сети
              br
              | партнеров
        .bullet-pagination
      .start-section__bottom
        .font-s-32
          span.font-w-bold Получите подробный план
          br
          span.font-w-regular открытия сервисного центра
        button.btn.start-section__btn(data-remodal-target="modal-form-plan") Получить
